export homeserv_network_mode="bridge"

export homeserv_volume_base=

export services_portainer_cert=
export services_portainer_key=

export services_postgres_POSTGRES_USER=
export services_postgres_POSTGRES_PASSWORD=
export services_postgres_POSTGRES_DB=

export services_vault_DOMAIN=
export services_vault_ROCKET_PORT=
export services_vault_WEBSOCKET_ENABLED=
export services_vault_ROCKET_ADDRESS=
export services_vault_ROCKET_PROFILE=

export services_outline_UTILS_SECRET=
export services_outline_SECRET_KEY=
export services_outline_NODE_ENV=
export services_outline_URL=
export services_outline_PORT=
export services_outline_DATABASE_URL=
export services_outline_DATABASE_URL_TEST=
export services_outline_REDIS_URL=
export services_outline_PGSSLMODE=
export services_outline_FORCE_HTTPS=
export services_outline_SLACK_SECRET=
export services_outline_SLACK_KEY=
export services_outline_OIDC_CLIENT_ID=
export services_outline_OIDC_CLIENT_SECRET=
export services_outline_OIDC_AUTH_URI=
export services_outline_OIDC_TOKEN_URI=
export services_outline_OIDC_USERINFO_URI=
export services_outline_OIDC_DISPLAY_NAME=
export services_outline_OIDC_SCOPES=

export services_minio_MINIO_ROOT_USER=
export services_minio_MINIO_ROOT_PASSWORD=

export services_authentik_DB_NAME=
export services_authentik_SECRET_KEY=
export services_authentik_GEOIPUPDATE_ACCOUNT_ID=
export services_authentik_GEOIPUPDATE_LICENSE_KEY=
export services_authentik_AUTHENTIK__GEOIP=

export services_grafana_AUTH_GENERIC_OAUTH_ENABLED=
export services_grafana_AUTH_GENERIC_OAUTH_NAME=
export services_grafana_AUTH_GENERIC_OAUTH_CLIENT_ID=
export services_grafana_AUTH_GENERIC_OAUTH_CLIENT_SECRET=
export services_grafana_AUTH_GENERIC_OAUTH_SCOPES=
export services_grafana_AUTH_GENERIC_OAUTH_AUTH_URL=
export services_grafana_AUTH_GENERIC_OAUTH_TOKEN_URL=
export services_grafana_AUTH_GENERIC_OAUTH_API_URL=
export services_grafana_AUTH_SIGNOUT_REDIRECT_URL=
export services_grafana_AUTH_GENERIC_OAUTH_ROLE_ATTRIBUTE_PATH=
export services_grafana_AUTH_OAUTH_AUTO_LOGIN=